*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
    background-color: #05265B;
    color: white;
}

.header-left
{
display: flex;
align-items: center;
}

.header-left img
{
    width: 100px;
    margin-left: 15px;
}

.header i{
    padding: 0 7px;
    cursor: pointer;
}

.header-search form{
    border: 1px solid #dddd;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-search input
{
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
}

.header-search button
{
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;
}

.header_icons i{
 font-size: 22px;
}

.mainBody{
    height: calc(100vh - 70px);
    display: flex;
}

.sidebar
{
    height: 100%;
    width: 230px;
    background-color: #08409B;
    color: white;
    overflow: scroll;
}

.sidebar-categories
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidebar-category
{
    display: flex;
    align-items: center;
    padding: 12px 25px;

}

.sidebar-category span
{
margin-left: 15px;
}

.sidebar-category:hover
{
    cursor: pointer;
}

.sidebar::-webkit-scrollbar
{
    display: none;
}

hr{
    height: 1px;
    background-color: white;
    border: none;
}

.videos{
    background-color: #f9f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
}

.videos-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video{
    width: 310px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
}

.thumbnail{
    width: 100%;
    height: 170px;
}

.thumbnail img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.author img
{
 object-fit: cover;
 border-radius: 50%;
 height: 40px;
 width: 40px;
 margin-right: 10px;
}

.video-details
{
    display: flex;
    margin-top: 10px;
}

.title
{
    display: flex;
    flex-direction: column;
}

.title h3{
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
}

.title a, span
{
    text-decoration: none;
    font-size: 14px;
}

.videos h1
{
    font-size: 20px;
    margin-bottom: 10px;
}

@media (max-width: 425px)
{
    .header-search{
        display: none;
    }

    .header_icons i{
        display: none;
    }

    .header_icons .display-this
    {
        display: inline;
    }

    .sidebar
    {
        display: none;
    }
}

@media (max-width: 768px)
{
    .header-search
    {
        display: none;
    }

    .sidebar
    {
        display: none;
    }

    .show-sidebar
    {
        display: inline;
        position: fixed;
        top: 4.4rem;
        height: auto;
    }
}

@media (max-width: 928px)
{
.header-search input{
    width: 300px;
}
}